
*{
    margin: 0;
    padding: 0;
  
    font-size: 14pt;
    font-family: 'Arial', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #444343;


    width: 100%;
    height: 100%;
   

}
.tabela thead{
    background-color: #2f6d32;

}
.tabela thead tr th{
    text-align: left;
    color: #ffffff;
    border: #2b692e;
}
.tabela tbody tr:nth-child(even){
    background-color: #b1aaaa;
}
.tabela{
   display: block;
    background-color: #d6d1a5;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    border-collapse: collapse;
    max-height: 600px;
    overflow-x: auto;
    margin-top: 20px;
   
}
div#teste{
    overflow-x: auto;
}
.tabela th,
.tabela td{
    padding: 15px;
    border: 1px solid #cccccc;
    max-width: 300px;
    
}
.tabela-title{
    display: block;
    padding: 20px;
    background-color: #4caf50;
}
.tabela-title .title{
    display: block;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 1.4px;
    color: #ffffff;

}
.excluir{
    background-color: red;
    padding: 5px;
    color: #ffffff;
    border: #ffffff;
}
.alterar{
    background-color: rgb(37, 105, 35);
    padding: 5px;
    color: #ffffff;
    border: #ffffff;
}
input::placeholder {
  color: rgb(27, 26, 26);
  padding: 5px;
}






a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
    color: #afcc0b;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .logo2 {
    width: 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 9vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 5px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
footer{
    text-align: center;
    background-color: #23232e;
    color: #ffffff;
    padding: 20px;
    margin-top: 30px;
}
main{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}


.tab{
    text-align: center;
}




.box {
    width: 60%;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(3, 3, 3, 0.75);
    padding: 20px;
   
    
}
.box1{
  width: 55%;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(3, 3, 3, 0.75);
  padding: 20px;
}



.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
        .inputUser:valid ~ .labelInput{
            top: -20px;
            font-size: 12px;
            color: #fff;
         }
#data_nascimento{
        border: none;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        }

        #submit{           
            background-color: rgb(42, 124, 16);
            width: 100%;
            border: none;
            padding: 10px;
            color: white;
            font-size: 15px;
            cursor: pointer;
           
        }
        #submit:hover{
            background-color: rgb(52, 170, 36);
        }
        .margem{
          padding: 15px;
        }


    .mainn{
      height: 1000px;
    }
    .mainn2{
      height: 1500px;
    }
    .mainn2{
      height: 1500px;
    }
    .mainn3{
      height: 700px;
    }
    .cadast{
      
      padding: 12px 12px;
    }
    .tituloCliente h1{
      color: #fffbfb;
      margin-top: 40px;
      text-align: center;
      font-size: 2em;
    }
    .menuInferior {
     text-align: center;
     
     
    }
    .menuInferiorAluguelDisp {
      margin-left: 530px;
     
     
    }
    .menuInferior li{
      padding: 8px;
      bleed: none;
      display: inline;
      color: #fff;
    }
    .menuInferiorAluguelDisp li{
      padding: 8px;
      bleed: none;
      display: inline;
      color: #fff;
    } 
    li{
      padding: 8px;
      bleed: none;
      display: inline;
      color: #fff;
    }
    
.inputMaior{
  
  width: 70%;
}
.inputDireita{
  width: 30%;
 
}
.inputEsquerda{
  width: 30%;
  float: left;
  
}

label{
  margin-bottom: 5px;
}
input{
  padding: 3px;
}
.Email{
  width: 50%;
}
.rua{
  width: 60%;
}
.til{
  font-size:28px;
}
.clienteLista{
  height: 680px;
}
.tamanhoAlu{
  height: 800px;
}

.finalizar{
  background-color: rgb(170, 15, 15);
  color: #fff;
  padding: 5px;
  border: solid #fff 1px;
}
.finalizar:hover{
  background-color: red;
}
.alugar{
  background-color: rgb(15, 87, 155);
  color: #fff;
  padding: 5px;
  border: solid #fff 1px;
}
.alugar:hover{
  background-color: rgb(23, 110, 182);
}
.bg3{
  margin-top:400px;
}
.bg2{
  margin-top:100px;
}
.bg1{
  margin-top:250px;
}
.mainn1{
  height: 660px;
}
.mainn5{
  height: 640px;
}
.imgCentro{
  font-size: 8em;
  color:#ffffff;
}